# Byte-compiled / optimized / DLL files
__pycache__/
file_manager/__pycache__/
my_calc/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.installed.cfg

#License file
LICENSE